* {
    margin: 0;
    padding:0;
}

.grupo{
    display: flex;
    flex-direction: column;

}   

.cabeçalho {
    background-color: blue;
    color: azure;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    text-decoration:none;
    margin-left:15px;
}

.menu a:hover {
    color: coral;
} 

.conteudo {
    display: flex;
    height: 200px;
}

.Navegacao {
    background-color: cyan;
    display: inline-block;
    width: 30%;
    padding: 10px;
}

.Navegação ul {
    list-style:none;
    padding: 0;

}

.Navegacao li {
    margin-bottom: 10px;
}


.secao {
    background-color: black; 
    color: blueviolet;

}

.rodape {
    background-color: chartreuse;
    height: 70px;
    padding: 0 20px;
    display: flex;
    justify-content: space;

}

.redes {
    display: flex;
    align-items: center;  
}

.redes img {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

